.sidebar {
  height: 100%;
  flex: 1;
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;

  &__prev, &__next {
    width: rem(13px);
  }

  &__prev {
    transform: rotate(90deg);
  }

  &__next {
    transform: rotate(-90deg);
  }

  &__list {
    display: flex;
    min-width: rem(157px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    @include notebook {
      min-width: rem(96px);
    }

    @include tablets {
      min-width: rem(70px);
    }
      
    @include phones {
      min-width: rem(40px);
    }
  }

  &__item {
    max-width: 100%;
    max-height: 100%;
    width: rem(108px);
    height: rem(108px);
    border-radius: 50%;
    overflow: hidden;

    @include notebook {
      width: rem(96px);
      height: rem(96px);
    }

    @include tablets {
      width: rem(70px);
      height: rem(70px);
    }

    @include phones {
      width: rem(40px);
      height: rem(40px);
    }

    &:hover {
      width: rem(157px);
      height: rem(157px);
      transition: .3s;

      @include notebook {
        width: rem(120px);
        height: rem(120px);
      }
    
      @include tablets {
        width: rem(90px);
        height: rem(90px);
      }

      @include phones {
        width: rem(65px);
        height: rem(65px);
      }
    }
  }
  
  &__item--active {
      width: rem(157px);
      height: rem(157px);
      background: url("../../assets/border-gradient.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .3s;

      .sidebar__link {
        width: 90%;
        height: 90%;
      }
    
      @include notebook {
        width: rem(120px);
        height: rem(120px);
      }
    
      @include tablets {
        width: rem(90px);
        height: rem(90px);
      }
    
      @include phones {
        width: rem(65px);
        height: rem(65px);
      }
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}