.copyright {
  margin-top: rem(56px);
  padding-top: rem(28px);
  border-top: 1px solid $base;
  font-size: rem(12px);
  line-height: rem(14px);
  color: $gray4;

  @include notebook {
    margin-top: rem(61px);
    padding-top: rem(32px);
  }

  @include tablets {
    padding-top: rem(28px);
    margin-top: rem(67px);
  }

  @include phones {
    padding-top: rem(29px);
    margin-top: rem(80px);
  }

  &__school {
    margin-top: 5px;
  }
}